/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader7.gif) center no-repeat #fff;
}

*{
	font-family: 'Ubuntu', sans-serif;
}

.brand-logo{
	font-family: 'Righteous', cursive !important;
	font-size: 3rem !important;
}

.card .card-image .img{
  height: 400px !important;
}
.cards{
  margin-top: 64px;
  z-index: 1;
}
#get_ingredients{
      position: relative;
    top: 42px;
    left: 20%;
    border-radius: 10px;
}
.info{
  color: #ff6624;
  margin-top: -8px;
  font-size:16px;
}
.today{
  background-color: #ff6624;
  border-radius: 0 10px 0 10px;
}

.sponssor{
  background-color: #1464f6;
  border-radius: 0 10px 0 10px;
}

.popular{
  background-color: #629c44;
  border-radius: 0 10px 0 10px;
}

.sub-head{
    margin-top: 64px;
    color: #FFF;
    font-size: 20px;
    text-align: center;
}
nav{
  position: fixed;
  top: 0;
  z-index: 2;
}
